.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding : 20px;
    gap:4rem;
}
.emp-name {
    min-width: 150px;
    text-align: left;
    margin: 0; /* Prevents default browser margins from messing up your vertical centering */
}
.addtocart-btn{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;   
    outline: none;
    border-radius:5px;
    cursor: pointer;
    border: none;
}